.FlightTable {
    padding: 0px;
    width: 90vw;
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
}

.TableHead {
    background-color: #393f50;
    border: 3px solid black;
    color: white;
    margin: auto;
  
}

.TableRow:nth-child(even) {
    background-color: aliceblue;
    margin: auto;
    border: 3px solid black;
}
.TableRow:nth-child(odd) {
    background-color:rgba(240, 248, 255, 0.24);
    margin: auto;
    border: 3px solid black;
}

.RowItem {
    text-align: left;
    border: 1px solid black;
    width: 10vw;
    padding: 5px;
    margin: auto;
}


